.shipping-ele {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.shipping-ele .active{
    color: orange;
}
.horizontal-parent {
  width: 90%;
  margin-left: 7.5rem;
  height: 0.3rem;
  background-color: #898989;
}
.horizontal-0 {
  width: 55%;
  height: 100%;
  display: block;
  background-color: orange;
}
@media screen and (max-width:768px) {
    .shipping-ele {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.horizontal-parent {
  width: 100%;
  margin-left: 0rem;
  height: 0.3rem;
  background-color: #898989;
}
.horizontal-0 {
  width: 50%;
  height: 100%;
  display: block;
  background-color: orange;
}
}
